.container {
  position: fixed;
  bottom: 10px;
  left: 20px;
  z-index: 10000;

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 360px;
  background-color: #ef7d00;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 12px;
}

.container:hover {
  opacity: 0.85;
}

.smallText {
  display: block;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 40px;
    border-radius: 0;
    padding: 10px;
    font-size: 14px;
    background-color: #0088cc;
  }
}
