html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

.iframeContainer {
  position: relative;
  width: 90%; /* Ширина контейнера, 90% от родительского элемента */
  margin: 0 auto; /* Центрирование контейнера */
  padding-top: 56.25%; /* Высота, сохраняющая пропорцию 16:9 */
  overflow: hidden; /* Убирает выступающие части вложенных элементов */
}
.iframeContainer iframe {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.cta {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-left: 2px solid #ef7d00;
}
.ctaButton {
  margin-top: 12px;
  display: flex;
  width: 220px;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #ef7d00;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.ctaButton:hover {
  background-color: #e66300;
}
